$font_title: "MarcellusSC-Regular";
$font_text: "Comfortaa-Light";
$font_size_desktop: 1.5rem;
$font_size_mobile: 1rem;
$color_dark:		 #270015; 
$color_dark_bg:		 #270015d5;
$color_light:		 #fcfbf5;
$color_font_dark:	 #c4921b;
$color_font_light:	 #c4a72c;