.p__contacto{
	text-align: center;
	font-size: $font_size_mobile;
	color: $color_font_light;
	background-color: $color_dark_bg;
	padding: 20px;
	@media only screen and (min-width: 768px){
		font-size: $font_size_desktop;
	}
}
.section12{
	padding: 30px;
	width: 100%;
	margin: 50px auto;
	background-color: $color_dark_bg;
	color: $color_font_light;
	border-radius: 10px;
	.form__section12{
		font-family: $font_text;
		.legend__form{
			font-size: $font_size_mobile;
			padding: 10px;
			@media only screen and (min-width: 768px){
				font-size: $font_size_desktop;
			}
		}
		.div__form{
			font-size: $font_size_mobile;
			padding: 10px;
			@media only screen and (min-width: 768px){
				font-size: $font_size_desktop;
			}
			.input__name__form{
				font-size: $font_size_mobile;
				font-family: $font_text;
				padding: 5px;
				border-radius: 10px;
				width: 100%;
			}
			.input__email__form{
				font-size: $font_size_mobile;
				font-family: $font_text;
				padding: 5px;
				border-radius: 10px;
				width: 100%;
			}
			.select__div__form{
				padding: 5px;
				font-family: $font_text;
				border-radius: 10px;
				width: 100%;
			}
			.textarea__form{
				font-family: $font_text;
				padding: 5px;
				border-radius: 10px;
				width: 100%;
				height: 300px;
			}
			.input__form__submit{
				background-color: $color_dark_bg;
				color: $color_font_light;
				font-family: $font_text;
				padding: 20px;
				width: 100%;
				text-align: center;
				border-radius: 20px;
				margin: 0 auto;
				border-color: $color_font_light;
			}
		}
	}
}