.section11{
    background-color: $color_dark_bg;
    padding-bottom: 50px;
	.p__section11{
		color: $color_font_light;
		text-align: center;
		font-size: $font_size_mobile;
		padding: 20px;
		@media only screen and (min-width: 768px){
			font-size: $font_size_desktop;
		}
	}
	.div__section11--grid{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 1fr);
		gap: 40px;
		@media only screen and (min-width: 768px){
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			gap: 40px;
		}
		@media only screen and (min-width: 1023px){
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 40px;
		}
		.card1__hospedaje,
		.card2__hospedaje,
		.card3__hospedaje,
		.card4__hospedaje,
		.card5__hospedaje,
		.card6__hospedaje{
			@include card__hospedaje()
		}
	}
}