.section10{
    background-color: $color_dark_bg;
    padding-bottom: 50px;
	.p__section10{
		color: $color_font_light;
		text-align: center;
		font-size: $font_size_mobile;
		padding: 20px;
		@media only screen and (min-width: 768px){
			font-size: $font_size_desktop;
		}
	}
	.div__section10--grid{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
		gap: 40px;
		@media only screen and (min-width: 768px){
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 0;
		}
		.card1,
		.card2,
		.card3,
		.card4{
			@include card()
		}
		
	}
	.carousel__1-quehacer{
		margin: 50px;
		background-color: $color_dark;
		border-radius: 20px;
		.foto__carousel-1{
			width: 500px;
			height: auto;
		}
	}
}