@font-face{
    font-family: "Comfortaa-Light";
    src: url(../assets/fonts/Comfortaa-Light.ttf);
}
@font-face{
    font-family: "MarcellusSC-Regular";
    src: url(../assets/fonts/MarcellusSC-Regular.ttf);
}