footer{
    background-color: $color_dark;
    color: $color_font_light;
    padding: 20px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	.section6{
		.logos__footer{
			padding-top: 10px;
			padding-bottom: 15px;
			&__a{
				text-decoration: none;
			}
			&__img__facebook{
				width: 70px;
				height: 70px;
				border-radius: 20px;
			}
			&__img__instagram{
				width: 60px;
				height: 60px;
			}
		}
	}
	@media only screen and (min-width: 768px){
		flex-direction: row;
		justify-content: space-between;
	}
}
.section7{
	.section7__form{
		border: 2px solid $color_font_light;
		border-radius: 20px;
		&__legend{
			padding: 10px;
		}
		.div__form__newsletter{
			padding: 20px;
			&__input{  
				padding: 8px;
				background-color: $color_dark_bg;
				color: $color_font_light;
				border-color: $color_font_light;
				border-radius: 10px;
				font-family: $font_text;
			}
		}
	}
}